* {
	margin:0;
	padding:0;
	-webkit-box-sizing:border-box;
	box-sizing:border-box
}
body {
	background-color:#f3f3f3;
	color:#333
}
.page {
	padding:20px 0
}

#toolbar {
	height:30px;
	position:fixed;
	margin-top:20px;
	width:300px; /* 更改宽度 */
	left:0px;
	z-index:200
}
#theme {
	float:right;
	margin-right:30px
}
#theme>span {
	vertical-align:middle;
	display:inline-block;
	margin-right:10px;
	font-size:16px;
	font-weight:bold
}
#theme a {
	cursor:pointer;
	display:inline-block;
	vertical-align:middle;
	display:inline-block;
	width:30px;
	height:30px;
	margin:0px 5px;
	-webkit-border-radius:2px;
	border-radius:2px;
	-webkit-box-sizing:content-box;
	box-sizing:content-box;
	background:#fff
}
#theme a span {
	display:inline-block;
	width:26px;
	height:26px;
	margin-left:2px;
	margin-top:2px
}
#theme a:hover {
	-webkit-box-shadow:0px 0px 8px rgba(0,0,0,0.1);
	box-shadow:0px 0px 8px rgba(0,0,0,0.1)
}
#theme a.selected {
	border:1px solid #e43c59
}
#theme a.default span {
	background:#c23531;
	background:-webkit-linear-gradient(-45deg,#de7e7b 0%,#c23531 50%,#2f4554 51%,#547b95 100%);
	background:-webkit-linear-gradient(315deg,#de7e7b 0%,#c23531 50%,#2f4554 51%,#547b95 100%);
	background:linear-gradient(135deg,#de7e7b 0%,#c23531 50%,#2f4554 51%,#547b95 100%)
}
#theme a.light span {
	background:#37A2DA;
	background:-webkit-linear-gradient(-45deg,#8dcaea 0%,#37A2DA 50%,#ffd85c 51%,#fff0c2 100%);
	background:-webkit-linear-gradient(315deg,#8dcaea 0%,#37A2DA 50%,#ffd85c 51%,#fff0c2 100%);
	background:linear-gradient(135deg,#8dcaea 0%,#37A2DA 50%,#ffd85c 51%,#fff0c2 100%)
}
#theme a.dark {
	background:#333
}
#theme a.dark span {
	background:#dd6b66;
	background:-webkit-linear-gradient(-45deg,#f0bcb9 0%,#dd6b66 50%,#759aa0 51%,#b1c6ca 100%);
	background:-webkit-linear-gradient(315deg,#f0bcb9 0%,#dd6b66 50%,#759aa0 51%,#b1c6ca 100%);
	background:linear-gradient(135deg,#f0bcb9 0%,#dd6b66 50%,#759aa0 51%,#b1c6ca 100%)
}
#toolbar #theme {
	padding:4px 10px;
	background:#fff;
	-webkit-border-radius:5px;
	border-radius:5px;
	-webkit-box-shadow:0 0 15px rgba(0,0,0,0.1);
	box-shadow:0 0 15px rgba(0,0,0,0.1);
	border:1px solid #aaa
}
#toolbar #theme.dark {
	background:#222;
	color:#fff
}
.popover-title {
	color:#000
}
.theme-palette {
	color:#000;
	font-size:18px
}
.theme-palette span {
	width:20px;
	height:20px;
	margin-left:3px;
	display:inline-block
}

#explore-container { /* 更改边距 */
	margin-left:155px;
	padding:51px 20px
}
