/*滚动条整体样式*/
.rc::-webkit-scrollbar {
    width: 7px;     /*高宽分别对应横竖滚动条的尺寸*/
    height: 7px;
}
.rc::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    background: #b3b3b3;
}
.rc::-webkit-scrollbar-track {/*滚动条里面轨道*/
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0);
    border-radius: 10px;
    background: #eee;
}

/* 自定义全局样式 */
.m-t-10 {
    margin-top: 10px;
}

.m-t-15 {
    margin-top: 15px;
}

.m-l-20 {
    margin-left: 20px;
}

/* 自定义样式 */
.page-size-custom {
    width: 50px!important;
}

.editor-panel {
    height: calc(100vh - 28rem);
    overflow: scroll;
    background: #eee;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.editor-config-panel {
    height: 100vh;
    overflow-y: scroll;
}

/* 覆盖样式 */
.btn {
    border-radius: 0;
}

.form-group label {
    font-weight: normal;
}

.hiprint-printTemplate {
    padding-top: 15px;
    padding-left: 15px;
    /* overflow-x: scroll;
    overflow-y: auto; */
}

.hiprint_rul_wrapper {
    border-top: 1px solid #eee;
    border-left: 1px solid #eee;
}

.hiprint-printPaper {
    background: #fff;
}

.hiprint-printElement-type .title .glyphicon {
    font-size: 14px;
}

.rect-printElement-types .hiprint-printElement-type > li > ul > li {
    display: block;
    width: 33%;
    float: left;
    /* max-width: 95px; */
}

.rect-printElement-types .hiprint-printElement-type > li > ul > li > a {
    color: grey;
}
